<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>ConnServlet</servlet-name>
        <servlet-class>uts.isd.controller.ConnServlet</servlet-class>
        <load-on-startup>0</load-on-startup>
    </servlet>
    <servlet>
        <servlet-name>OrderHistoryServlet</servlet-name>
        <servlet-class>uts.isd.controller.OrderHistoryServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FilterOrdersServlet</servlet-name>
        <servlet-class>uts.isd.controller.FilterOrdersServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProductServlet</servlet-name>
        <servlet-class>uts.isd.controller.ProductServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FilterProductServlet</servlet-name>
        <servlet-class>uts.isd.controller.FilterProductServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddProductServlet</servlet-name>
        <servlet-class>uts.isd.controller.AddProductServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateProductServlet</servlet-name>
        <servlet-class>uts.isd.controller.UpdateProductServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserEnterServlet</servlet-name>
        <servlet-class>uts.isd.controller.UserEnterServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddToOrderServlet</servlet-name>
        <servlet-class>uts.isd.controller.AddToOrderServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SavedOrderServlet</servlet-name>
        <servlet-class>uts.isd.controller.SavedOrderServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateSavedOrderServlet</servlet-name>
        <servlet-class>uts.isd.controller.UpdateSavedOrderServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteSavedItemServlet</servlet-name>
        <servlet-class>uts.isd.controller.DeleteSavedItemServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteOrderServlet</servlet-name>
        <servlet-class>uts.isd.controller.DeleteOrderServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddUserDetailsServlet</servlet-name>
        <servlet-class>uts.isd.controller.AddUserDetailsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SubmitOrderServlet</servlet-name>
        <servlet-class>uts.isd.controller.SubmitOrderServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ShipmentDetailServlet</servlet-name>
        <servlet-class>uts.isd.controller.ShipmentDetailServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FilterShipmentDetailServlet</servlet-name>
        <servlet-class>uts.isd.controller.FilterShipmentDetailServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SavedShipmentDetailServlet</servlet-name>
        <servlet-class>uts.isd.controller.SavedShipmentDetailServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PaymentInformationServlet</servlet-name>
        <servlet-class>uts.isd.controller.PaymentInformationServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FilterPaymentInformationServlet</servlet-name>
        <servlet-class>uts.isd.controller.FilterPaymentInformationServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SavedPaymentServlet</servlet-name>
        <servlet-class>uts.isd.controller.SavedPaymentServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateSavedPaymentServlet</servlet-name>
        <servlet-class>uts.isd.controller.UpdateSavedPaymentServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeletePaymentServlet</servlet-name>
        <servlet-class>uts.isd.controller.DeletePaymentServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutServlet</servlet-name>
        <servlet-class>uts.isd.controller.LogoutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AccessLogServlet</servlet-name>
        <servlet-class>uts.isd.controller.AccessLogServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FilterAccessLogServlet</servlet-name>
        <servlet-class>uts.isd.controller.FilterAccessLogServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteShipmentDetailServlet</servlet-name>
        <servlet-class>uts.isd.controller.DeleteShipmentDetailServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateShipmentDetailServlet</servlet-name>
        <servlet-class>uts.isd.controller.UpdateShipmentDetailServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateUserDetailsServlet</servlet-name>
        <servlet-class>uts.isd.controller.UpdateUserDetailsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CancelAccountServlet</servlet-name>
        <servlet-class>uts.isd.controller.CancelAccountServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ConnServlet</servlet-name>
        <url-pattern>/ConnServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>uts.isd.controller.LoginServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/LoginServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>RegisterServlet</servlet-name>
        <servlet-class>uts.isd.controller.RegisterServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>RegisterServlet</servlet-name>
        <url-pattern>/RegisterServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>RegisterStaffServlet</servlet-name>
        <servlet-class>uts.isd.controller.RegisterStaffServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>RegisterStaffServlet</servlet-name>
        <url-pattern>/RegisterStaffServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>OrderHistoryServlet</servlet-name>
        <url-pattern>/OrderHistoryServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FilterOrdersServlet</servlet-name>
        <url-pattern>/FilterOrdersServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProductServlet</servlet-name>
        <url-pattern>/ProductServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FilterProductServlet</servlet-name>
        <url-pattern>/FilterProductServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddProductServlet</servlet-name>
        <url-pattern>/AddProductServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateProductServlet</servlet-name>
        <url-pattern>/UpdateProductServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserEnterServlet</servlet-name>
        <url-pattern>/UserEnterServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddToOrderServlet</servlet-name>
        <url-pattern>/AddToOrderServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SavedOrderServlet</servlet-name>
        <url-pattern>/SavedOrderServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateSavedOrderServlet</servlet-name>
        <url-pattern>/UpdateSavedOrderServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteSavedItemServlet</servlet-name>
        <url-pattern>/DeleteSavedItemServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteOrderServlet</servlet-name>
        <url-pattern>/DeleteOrderServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddUserDetailsServlet</servlet-name>
        <url-pattern>/AddUserDetailsServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SubmitOrderServlet</servlet-name>
        <url-pattern>/SubmitOrderServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ShipmentDetailServlet</servlet-name>
        <url-pattern>/ShipmentDetailServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FilterShipmentDetailServlet</servlet-name>
        <url-pattern>/FilterShipmentDetailServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SavedShipmentDetailServlet</servlet-name>
        <url-pattern>/SavedShipmentDetailServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PaymentInformationServlet</servlet-name>
        <url-pattern>/PaymentInformationServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FilterPaymentInformationServlet</servlet-name>
        <url-pattern>/FilterPaymentInformationServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SavedPaymentServlet</servlet-name>
        <url-pattern>/SavedPaymentServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateSavedPaymentServlet</servlet-name>
        <url-pattern>/UpdateSavedPaymentServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeletePaymentServlet</servlet-name>
        <url-pattern>/DeletePaymentServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutServlet</servlet-name>
        <url-pattern>/LogoutServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AccessLogServlet</servlet-name>
        <url-pattern>/AccessLogServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FilterAccessLogServlet</servlet-name>
        <url-pattern>/FilterAccessLogServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteShipmentDetailServlet</servlet-name>
        <url-pattern>/DeleteShipmentDetailServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateShipmentDetailServlet</servlet-name>
        <url-pattern>/UpdateShipmentDetailServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateUserDetailsServlet</servlet-name>
        <url-pattern>/UpdateUserDetailsServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CancelAccountServlet</servlet-name>
        <url-pattern>/CancelAccountServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
