/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/JSP_Servlet/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : 3 May 2022, 11:27:33 pm
    Author     : raunak
*/

.navbar {
    color: #0583d2;
    border-bottom: 8px;
    border-bottom-color: gray;
    margin-top: 10px;
}

#name {
    padding-right: 30px;
    padding-left: 20px;
    font-family: sans-serif;
}

.nav-item {
    padding-left: 10px;
    padding-right: 10px;
    border-bottom: 5px;
    border-bottom-color: gray;
}

.test {
    background-color: #0583d2;
    color: white;
    border-radius: 20px;
}