/* 
    Created on : 30 Mar. 2022, 2:48:20 pm
    Author     : Gabrielle K, Sarah F, Raunak K
*/

table{
    margin: auto;
    text-align: left;
    width:450px;
}

form{
    
}

header{
    width: 100%;
    height: 100px;
    position: fixed;
    top: 0;
    left:0px;
    overflow: hidden;
    background-color: white;
    color: #16558f;
    float: left;
    box-shadow: -2px 2px 8px rgba(56, 56, 56, 0.5);
}

input{
    
}

.noNavBody {
    padding-top: 125px;
}

body{
    text-align:center;
    height:100%;
    margin: auto;
    font-family: sans-serif;
    font-size: 18px;
    height:auto;
    margin:0 auto;
    top:0;
    min-height:700px;
    width:100%;
}

td{
    padding: 0px 6px 10px 2px;
}

a:link, visited{
    text-decoration: none;
}

a{
    align-content: center;
    padding: 10px 20px;
    margin: 30px 5px;
    border-radius: 0px;
    color: black;
    font-size: 1.2em;
    border-bottom: white;
    transition: border-bottom 0.15s ease-in-out 0.15s;
    text-align: center;
}

.mainbtn{
    border-radius: 20px;
    background-color:#0583d2;
    color: white;
    font-weight:bold;
    padding: 25px 0 20px 0;
    box-shadow: -2px 2px 8px rgba(56, 56, 56, 0.5);
}

.container{
    display:flex;
    flex-direction: column;
    width: 300px;
    margin:auto;
    border-radius: 5px;
/*    background-color: #EDF8FF;*/
}

.extendfield{
    width: 100%;
    font-size: 16px;
    height:25px;
    border-radius: 5px;
    border-color: gray;
    border-width: 0.25px;
    padding-left: 5px;
    padding-top: 10px;
    padding-bottom: 10px;
    color: gray;
}
.profile{
    border-bottom: 1px solid gray;
}

#submit{
    background-color: #0583d2;
    border-radius: 20px;
    border: none;
    border-color: blue;
    padding: 2.5px 0 2.5px 0;
    font-weight: bold;
    font-size: 18px;
    color: white;
    height: 50px;
    margin-top: 15px;
}

#cancel {
    margin-bottom: 0;
    margin-top: 15px;
    background-color: #3a3b3c;
    color: white;
    text-align: center;
    display: block;
    padding: 15px 0 10px 0;
    border-radius: 20px;
    font-weight: bold;
}

#nothing{
    padding: 0;
    margin: 0;
    color: blue;
    border-bottom: none;
    transition: none;
    text-align: center;
    font-size: 18px;
}

.searchTable{
    width: 900px;
    font-size:20px;
}

.searchField{
    font-size: 16px;
    height:25px;
    border-radius: 5px;
    border-color: gray;
    border-width: 0.25px;
    padding-left: 5px;
    padding-top: 10px;
    padding-bottom: 10px;
    color: gray;
}

.filterButton {
    background-color: #0583d2;
    border-radius: 20px;
    border: none;
    border-color: blue;
    padding: 2.5px 25px 2.5px 25px;
    font-weight: bold;
    font-size: 18px;
    color: white;
    height: 50px;
}

.order {
    margin: auto;
    margin-bottom: 50px;
    width: 900px;
    border: 1px solid black;
}

.orderID {
    font-size: 30px;
    
}

.orderTable {
    width:90%;
}

.savedItemButtons {
    font-size: 15px;
    background-color: #0583d2;
    border-radius: 20px;
    border: none;
    border-color: blue;
    padding: 10px 25px 10px 25px;
    font-weight: bold;
    color: white;
    display: block;
    margin:0;
}

#savedOrder {
    margin-bottom: 20px;
}

.orderBar {
    margin: auto;
    width: 1000px;
    padding: 10px 0 10px 0;
}

.orderBarButton {
    border-radius: 20px;
    background-color: #0583d2;
    color: white;
    font-size: 20px;
}

#updateOrderBarButton {
    border: none;
    border-color: blue;
    padding: 10px 15px 10px 15px;
}

.mainbtn:hover, #submit:hover, .savedItemButtons:hover, .orderBarButton:hover {
    background-color: #0099ff;
}

#cancel:hover {
    background-color: #666666;
}

/* Navbar - Raunak */

.navbar-nav {
    list-style-type: none;
    margin: 0;
    padding: 0px;
    overflow: hidden;
    background-color: #f3f3f3;
}

.nav-item {
    float: left;
    padding-bottom: 0px;
    /*display: inline-block;*/
}

.nav-link {
    display: block;
    color: #3F4B53;
    margin: 0;
    text-align: center;
    padding: 30px 17px;
    text-decoration: none;
    font-size: 15px;
}

.nav-item .nav-link:hover:not(.active) {
    color: black;
    font-weight: bold;
}

#name {
    display: block;
    font-weight: bold;
    padding: 25px 7px;
    margin: 0 30px 0 20px;
    font-family: sans-serif;
}

#nav-right {
    float: right;
    padding: 10px 7px 10px 7px;
    background-color: #0583d2;
    border-radius: 40px;
    border: none;
    border-color: blue;
    font-weight: bold;
    font-size: 15px;
    margin-top: 17px;
    margin-right: 40px;
}

#logout-btn {
    color: white;
}

/*Welcome page new design - Raunak*/
.welcome {
/*    background-color: #EDF8FF;*/
}
table tr td{
   
}

#welcomeTable {
   margin: auto;
   margin-top: 60px; 
   width: 90%;
}

#info {
    margin: 0;
    margin-bottom: 100px;
    padding: 0;
}

.hiUser {
    
}

img {
    width: 700px;
    height: 550px;
}

#productTable {
    width: 80%;
}

#productTable, .productTh, .productTd {
    border: 1px solid;
    border-collapse: collapse;
}

#descriptionText {
    font-family:inherit;
    font-size: inheirit;
}


